/*SASS Variables*/

$myFont: Helvetica, sans-serif;
$myColor1: rgb(65, 59, 122);
$myColor2: rgb(233, 230, 230);
$myFontSize: 18px;
$myWidth: 680px;
$myStyle: italic;
$myContent: center;
$myBorder: rgb(255, 255, 255);
$myMargin: auto;